:root {
    --blanco: white;
    --negro: black;
    --gris-claro: gray;
    --gris-oscuro: gray;
    --verde-hacker: green;
}

body {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: var(--blanco);
    color: #000;
    padding: 10px;
    border-radius: 25px;
    /* ancho */
    width: 300px;
    /* alto */
    height: 500px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header {
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    text-align: center;
    font-size: .8em;
    font-family: var(--fuente-titulo);
}

.hamburger {
    color: var(--negro);
}

.dark-mode-btn {
    background: var(--negro);
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 25px;
}

.modo-oscuro {
    background: #333 !important;
    color: var(--verde-hacker) !important;
}

.modo-oscuro1 {
    background: var(--verde-hacker) !important;
    color: #333 !important;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex div {
    padding: 10px;
    text-align: center;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

/* dark color */
.color1 {
    background: blue;
}

/* light color */
.color2 {
    background: red;

}

.line {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 10px;

}

.example {
    background: #43e97b;
    font-size: 1.3em;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.btn-container {
    width: 100%;
    text-align: center;
}

.bar-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bar-icons div {
    cursor: pointer;
}

.bar-icons i.active {
    color: var(--negro);
}

.bar-icons i {
    color: var(--gris-oscuro);
}

footer {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}

button {
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    width: 80%;
}